<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reservation</title>
</head>
<body>

    <h1>Reserve room</h1>

    <form th:action="@{/reservations/add}" th:object="${reservation}" method="post">
        <input type="datetime-local" th:field="*{startTime}" required/>
        <input type="number" th:field="*{price}" required/>
        <div>
            <label>Choose room:</label>
            <select th:field="*{roomId}" required>
                <option value="" disabled selected>-- click to choose the room --</option>

                <option th:each="room : ${rooms}"
                        th:value="${room.id}"
                        th:text="${room.roomType} + '(Miejsc: ' + ${room.capacity} + ')'">
                </option>
            </select>
        </div>
        <button type="submit">Reserve</button>

    </form>
    <a th:href="@{/reservations}">Cancel</a>

</body>
</html>