<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reservation</title>
</head>
<body>

<h1>Reserve room</h1>
<p th:text="${error}"></p>
<form th:action="@{/reservations/add}" th:object="${reservation}" method="post">
    <div>
        <label>Początek rezerwacji</label>
        <input type="datetime-local" th:field="*{startTime}" required/>
    </div>
<!--    <div>-->
<!--        <label>Cena:</label>-->
<!--        <input type="number" th:field="*{price}" required/>-->
<!--    </div>-->
    <div>
        <label>Wybierz pokój:</label>
        <select th:field="*{roomId}" required>
            <option th:each="room : ${rooms}"
                    th:value="${room.id}"
                    th:text="${room.roomType} + '(Miejsc: ' + ${room.capacity} + ')'">
            </option>
        </select>
    </div>
    <div>
        <button type="submit">Zarezerwuj</button>
    </div>

</form>
<a th:href="@{/reservations}">Anuluj</a>

</body>
</html>